---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import DashboardWidget from '../components/DashboardWidget.astro';
---

<DefaultLayout title="Dashboard">
  <!-- <section>
    <h1>Welcome Astronaut 🧑‍🚀</h1><br>
    <p class="size-20">Build fast dashboards, faster (and accessible).</p>
  </section> -->
  <!-- <section class="margin-32">
    <div class="space-content">
      <div class="contents">
        <h2>Widgets</h2>
        <p id="current-time" class="size-12"></p>
      </div>
      <div class="grid small-grid-1 medium-grid-2 large-grid-3 equal-height">
        <DashboardWidget />
        <DashboardWidget
          number="+33"
          title="Products sold"
        />
        <DashboardWidget
          number="-120"
          title="Images deleted"
          type="error"
        />
      </div>
    </div>
  </section> -->
  <main class="container mx-auto p-4">
  </section>
  <section class="margin-32">
    <div class="space-content">
      <div class="contents">
        <h2>Users</h2>
        <p id="current-time" class="size-12"></p>
      </div>
      <div class="grid small-grid-1 medium-grid-2 large-grid-3 equal-height">
        <DashboardWidget />
        <DashboardWidget
          number="+33"
          title="add enrolled students"
        />
        <DashboardWidget
          number="-120"
          title="ambot yawa"
          type="error"
        />
      </div>
    </section>
    
  </main>
</DefaultLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
</style>  

<script>
  const date = new Date()
  document.querySelector('#current-time').innerHTML = `<em>${date.toDateString()}</em>`
</script>